<div class="row-fluid servive-block">
            <a class="span4" style="text-decoration: none;" href="{{ path('ltm_usr_forfaits_type', {'moovertype' : 'dancer'}) }}" >
                <h4>{{ 'purchase.container.span4.1.h4'|trans}}</h4>
                <p><i class="{{ 'purchase.container.span4.1.icon'|trans}}"></i></p>
                <p>{{ 'purchase.container.span4.1.p'|trans}}</p>
            </a>
            <a class="span4" style="text-decoration: none;" href="{{ path('ltm_usr_forfaits_duration', {'accounttype' : 'max', 'moovertype' : 'school'}) }}">
                <h4>{{ 'purchase.container.span4.2.h4'|trans}}</h4>
                <p><i class="{{ 'purchase.container.span4.2.icon'|trans}}"></i></p>
                <p>{{ 'purchase.container.span4.2.p'|trans}}</p>
            </a>
            <a class="span4" style="text-decoration: none;" href="{{ path('ltm_usr_forfaits_type', {'moovertype' : 'recruiter'}) }}">
                <h4>{{ 'purchase.container.span4.3.h4'|trans}}</h4>
                <p><i class="{{ 'purchase.container.span4.3.icon'|trans}}"></i></p>
                <p>{{ 'purchase.container.span4.3.p'|trans}}</p>
            </a>
        </div><!--/row-fluid-->