<div class="slider-inner">
    <div id="da-slider" class="da-slider">
        <div class="da-slide">
            <h2><i>{{ 'daslide1.h2.i1'|trans}} </i><br /><i>{{ 'daslide1.h2.i2'|trans}}</i></h2>
            <p><i>{{ 'daslide1.p.i1'|trans}}</i> <br /> <i>{{ 'daslide1.p.i2'|trans}}</i> <br /> <i>{{ 'daslide1.p.i3'|trans}}</i></p>
            <div class="da-img"><img src="{{ asset('daslide1.div.img'|trans )}}" alt="" /></div>
        </div>
        <div class="da-slide">
            <h2>{{ 'daslide2.h21'|trans}}<br />
                {{ 'daslide2.h22'|trans}} <br />
                {{ 'daslide2.h23'|trans}}</h2>
            <p><i>{{ 'daslide2.p.i1'|trans}}</i> <br /> <i>{{ 'daslide2.p.i2'|trans}}</i></p>
            <div class="da-img span6">
                <div class="span6">
                    <iframe width="100%" height="315" src="//{{ 'daslide2.div.youtube'|trans}}" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="da-slide">
            <h2><i>{{ 'daslide3.h2.i1'|trans}}</i> <br /> <i>{{ 'daslide3.h2.i2'|trans}} </i> <br />
                <i>{{ 'daslide3.h2.i3'|trans}}</i></h2>
            <p><i>{{ 'daslide3.p.i1'|trans}}</i> <br />
                <i>{{ 'daslide3.p.i2'|trans}}</i> <br />
                <i>{{ 'daslide3.p.i3'|trans}} </i></p>
            <div class="da-img"><img src="{{ asset( 'daslide3.div.img'|trans )}}" alt="image01" /></div>
        </div>
        <nav class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>
        </nav>
    </div><!--/da-slider-->
</div><!--/slider-->