{% extends 'PortailBundle::layout.html.twig' %}

{% block javascripts %}


    <!-- JS Global Compulsory -->
    <script type="text/javascript" src="{{ asset('bundles/portail/js/jquery-1.8.2.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/portail/js/modernizr.custom.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/portail/plugins/bootstrap/js/bootstrap.min.js')}}"></script>
    <!-- JS Implementing Plugins -->
    <script type="text/javascript" src="{{ asset('bundles/portail/plugins/back-to-top.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/portail/plugins/flexslider/jquery.flexslider-min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/portail/plugins/revolution_slider/rs-plugin/js/jquery.themepunch.plugins.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/portail/plugins/revolution_slider/rs-plugin/js/jquery.themepunch.revolution.min.js')}}"></script>


    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js')}}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    <!--script type="text/javascript" src=".{{ asset('bundles/adesignscalendar/js/calendar-settings.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/fullcalendar/jquery.fullcalendar.min.js')}}"></script-->
    <script type="text/javascript" src="{{ asset('bundles/portail/js/fullcalendar.min.js')}}"></script>
    <script src="{{ asset('bundles/portail/plugins/bxslider/jquery.bxslider.js')}}"></script>

    <script type="text/javascript" src="{{ asset('bundles/portail/js/app.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/portail/js/pages/index.js')}}"></script>

    
    <script type="text/javascript" src="{{ asset('bundles/portail/js/jquery.colorbox-min.js')}}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            App.init();
            App.initSliders();
            Index.initRevolutionSlider();
        });
    </script>
    <!--[if lt IE 9]>
    <script src="{{ asset('bundles/portail/js/respond.js')}}"></script>
    <![endif]-->


{% endblock %}

{% block content %}

   

    <!--=== Purchase Block ===-->
    <div class="row-fluid purchase margin-bottom-30">
	 
    </div><!--/row-fluid-->
    <!-- End Purchase Block -->

    <!--=== Content Part ===-->
    <div class="container">





    </div><!--/container-->
    <!-- End Content Part -->

	<!-- Important garder cette declaration ici pour Video Tuto et les menus-->
	<script type="text/javascript" src="{{ asset('bundles/portail/plugins/bootstrap/js/bootstrap.min.js')}}"></script>
{% endblock %}