<!--=== Slider ===-->
<div class="fullwidthbanner-container">
<div class="fullwidthabnner">
<ul>
<!-- THE FIRST SLIDE -->
<li data-transition="3dcurtain-vertical" data-slotamount="10" data-masterspeed="300" data-thumb="{{ asset(  'slide1.thumb'|trans )}}">

    <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
    <img src="{{ asset( 'slide1.img'|trans )}}">

    <div class="caption large_text sfb bg-black-opacity"
         data-x="176"
         data-y="12"
         data-speed="300"
         data-start="800"
         data-easing="easeOutExpo">
        <span style="color: #ffcc00;">{{ 'slide1.div.span.t1'|trans }}</span>
        {{ 'slide1.div.span.t2'|trans}}
        {{ 'slide1.div.span.t3'|trans }}
    </div>

    
</li>



<!-- THE SECOND SLIDE -->
<li data-transition="papercut" data-slotamount="15" data-masterspeed="300" data-delay="9400" data-thumb="{{ asset('slide2.thumb'|trans)}}">

    <!-- THE MAIN IMAGE IN THE SECOND SLIDE -->
    <img src="{{ asset('slide2.img'|trans )}}">

    <div class="caption very_big_white lfl stl"
         data-x="18"
         data-y="343"
         data-speed="300"
         data-start="500"
         data-easing="easeOutExpo" data-end="8800" data-endspeed="300" data-endeasing="easeInSine">
        {{ 'slide2.div1'|trans }}
    </div>

    <div class="caption big_white lfl stl"
         data-x="18"
         data-y="390"
         data-speed="300"
         data-start="800"
         data-easing="easeOutExpo" data-end="9100" data-endspeed="300" data-endeasing="easeInSine">
        {{ 'slide2.div2'|trans }}
    </div>

    <div class="caption lft ltb"
         data-x="600"
         data-y="0"
         data-speed="600"
         data-start="1100"
         data-easing="easeOutExpo" data-end="3100" data-endspeed="600" data-endeasing="easeInSine">
        <!--img src="{{ asset('bundles/portail/img/sliders/revolution/drink2.jpg')}}" alt="Image 3"-->
    </div>

    <div class="caption bold_green_text sft stb"
         data-x="760"
         data-y="290"
         data-speed="300"
         data-start="1400"
         data-easing="easeOutExpo" data-end="3300" data-endspeed="300" data-endeasing="easeInSine">
        <a href="{{path('ltm_usr_ajouter')}}" >{{ 'free.try'|trans}}</a>
    </div>

    <div class="caption big_black sfb stb"
         data-x="780"
         data-y="320"
         data-speed="300"
         data-start="1700"
         data-easing="easeOutExpo" data-end="3200" data-endspeed="300" data-endeasing="easeInSine">
        {{ 'slide2.div5'|trans }}
    </div>

    <div class="caption lft ltb"
         data-x="600"
         data-y="0"
         data-speed="600"
         data-start="3600"
         data-easing="easeOutExpo" data-end="5600" data-endspeed="600" data-endeasing="easeInSine">
        <!--img src="{{ asset('bundles/portail/img/sliders/revolution/drink1.jpg')}}" alt="Image 6"-->
    </div>

    <div class="caption bold_brown_text sft stb"
         data-x="760"
         data-y="290"
         data-speed="300"
         data-start="3900"
         data-easing="easeOutExpo" data-end="5800" data-endspeed="300" data-endeasing="easeInSine" >
        {{ 'slide2.div7'|trans }}
    </div>

    

    

  

    
</li>

<!-- THE THIRD SLIDE -->
<li data-transition="slideleft" data-slotamount="1" data-masterspeed="300" data-thumb="{{ asset('slide3.thumb'|trans)}}">

    <!-- THE MAIN IMAGE IN THE THIRD SLIDE -->
    <img src="{{ asset('slide3.img'|trans)}}" >

    <div class="caption large_text sft"
         data-x="10"
         data-y="44"
         data-speed="300"
         data-start="800"
         data-easing="easeOutExpo">
        {{ 'slide3.div1'|trans }}
    </div>

    <div class="caption medium_text sfl"
         data-x="39"
         data-y="82"
         data-speed="300"
         data-start="1100"
         data-easing="easeOutExpo">
        {{ 'slide3.div2'|trans }}
    </div>

    <div class="caption large_text sfr"
         data-x="88"
         data-y="78"
         data-speed="300"
         data-start="1100"
         data-easing="easeOutExpo">
        <span style="color: #72c02c;">{{ 'slide3.div3.span'|trans }}</span>
    </div>

   

    <div class="caption lft"
         data-x="500"
         data-y="130"
         data-speed="300"
         data-start="500"
         data-easing="easeOutExpo">
        <img src="{{ asset('slide3.div4.img'|trans)}}" alt="Image 6">
    </div>
</li>

<!-- THE FOURTH SLIDE -->
<!--li data-transition="flyin" data-slotamount="1" data-masterspeed="300" data-thumb="{{ asset('bundles/portail/img/sliders/revolution/thumbs/thumb4.jpg')}}">





    </li>
</ul-->

<div class="tp-bannertimer tp-bottom"></div>
</div>
</div>
<!--=== End Slider ===-->
