{% extends 'PortailBundle::layout.html.twig' %}


{% block content %}


    <!--=== Content Part ===-->
    <div class="container">
    <!-- Service Blocks -->

    <div class="row-fluid">


        <form method="post" class="log-page" enctype="multipart/form-data">
            {{ message }}
            <h3> {{ 'forgot.password'|trans }}</h3>
			<hr>
            <div class="input-prepend">
                <span class="add-on"><i class="icon-user"></i></span>
                <input required type="text" id="username" placeholder="{{ 'first.last.alias'|trans }}"  name="username" class="input-xlarge"  />
            </div>
            <div class="input-prepend">
                <span class="add-on"><i class="icon-keyboard"></i></span>
                <input required type="email" id="email" placeholder="{{ 'email'|trans }}"  name="email" class="input-xlarge" />
            </div>
            <div class="controls"> 
               
                <input class="btn-u pull-right" type="submit" name="submit" value="{{ 'reset'|trans }}">

            </div>
			
			<hr>
            <h4>{{ 'login.to.ltm'|trans }}</h4>
            <p><a name="login" href="{{ path('login') }}" class="color-green">{{ 'click.here'|trans }}</a>.</p>

			
        </form>

    </div><!--/row-fluid-->



    </div><!--/container-->
    <!-- End Content Part -->




{% endblock %}

{% block footer %}
{% endblock %}