{% extends 'PortailBundle:User:afficherpublic.html.twig' %}

{% block stylesheets %}


    <link rel="stylesheet" href="{{ asset('bundles/portail/css/ace-skins.min.css')}}" />

    {{ parent() }}
    {% stylesheets '@FOSCommentBundle/Resources/assets/css/comments.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    <style>
        #fos_comment_comment_body{
            border-radius: 4px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
            height: auto;
            transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
            width: 98%;
        }
        .fos_comment_comment_replies {
            margin-left: 5%;
        }
        .fos_comment_comment_body {
            background: none repeat scroll 0 0 #e6e6e6;
            margin-bottom: 1%;
            padding: 1em 20px;
            width: 98%;
        }

        .fos_comment_comment_metas {
            background: none repeat scroll 0 0 #ffa791;
            border-radius: 20px;
            display: inline-block;
            width: 98%;
        }
        .fos_comment_comment_voting {
            float: right;
        }
        .fos_comment_comment_score {
            font-weight: 700;
            margin-left: 10px;
        }
        .profile_users {
            float: left;
        }
        .profile_users .user img {
            border: 1px solid #ffa791;
            border-radius: 100%;
            max-width: none;
            padding: 2px;
            transition: all 0.1s ease 0s;
            width: 64px;
        }
    </style>
    {% endstylesheets %}
{% endblock %}

{% block content_breadcrumbs %}
    <div class="breadcrumbs margin-bottom-20">
        <div class="container">
            <h1 class="color-green pull-left"><a href="{{ path('ltm_usr_public', {'slug': user.slug}) }}">{{ user.username }}</a></h1><br>

            <ul class="pull-right breadcrumb">
                <li><a href="{{ path('home') }}">{{ 'home'|trans }}</a> <span class="divider">/</span></li>
                <li><a href="{{ path('ltm_video_lister') }}">{{ 'video.see.all'|trans }}</a> <span class="divider">/</span></li>


                <li class="active">{{ 'video'|trans }}</li>
            </ul>
        </div><!--/container-->
    </div>
{% endblock %}



{% block content_center %}
    <div class="span9">
        <!-- Our Services -->
        <div class="row-fluid">
            <div class="headline">
                <h3>{{ video.title }} <small> - {{video.vues ~ ' ' ~ (video.vues > 1? 'views'|trans  : 'view'|trans )}}</small>
                    {% if (app != null and app.user != null and (app.user.id == video.author.id or (app.user.id == 50 or app.user.id == 54) ) )%}
                        <a href="{{ path('ltm_video_modifier', {'slug': video.slug} ) }}"><i class="icon-edit"> </i></a>
                    {% endif %}
                </h3>
            </div>
            <div class="row-fluid servive-block servive-block-in">
                <div>
					{% if 'Mobile' in app.request.headers.get('User-Agent') %}
                    <script type='text/javascript' src="{{ asset('bundles/portail/js/jwplayer.new.js')}}"></script>
					{% else %}
					<script type='text/javascript' src="{{ asset('bundles/portail/js/jwplayer.js')}}"></script>
					{% endif %}
                    <!--iframe class="hover-effect replace_me" width="640" height="480" src="{{ video.url }}" frameborder="0" allowfullscreen></iframe-->
					
                    <center>
						{% if video.url != null and 'vimeo' in video.url|lower %}
						{% set vidTokens = video.url|split('http://vimeo.com/') %}
						<iframe src="http://player.vimeo.com/video/{{vidTokens[1]}}" width="100%" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
						{% else %}
                        <div id='mediaspace2'>This text will be replaced</div>
                        <script type='text/javascript'>
                            function getId(href){
                                if (!!href && href.indexOf('www.youtube.com/v/') > 0) {
                                var id = '';
                                    id = getBefore(href.split('www.youtube.com/v/')[1], '?')
                                } else if (!!href && href.indexOf('youtu.be/') > 0){
                                    id = getBefore(href.split('youtu.be/')[1], '?');
                                } else if (!!href && href.indexOf('/embed/') > 0){
                                    id = getBefore(href.split('/embed/')[1], '?');
                                } else if (!!href && href.indexOf('?v=') > 0){// this could be version if API call!!
                                    id = getBefore(href.split('?v=')[1],'&');
                                } else if (!!href && href.indexOf('video:') > 0){
									 
                                    id = getBefore(href.split('video:')[1], ':');
                                } else if (!!href){
                                    id = href;
                                }
                                return id;
                            }

                            function getBefore(str, before){
                                if (!!str && str.indexOf(before)){
                                    str = str.split(before)[0];
                                }
                                return str;
                            }

                            jwplayer('mediaspace2').setup({
                                'flashplayer': "{{ asset('bundles/portail/js/player.swf')}}",
								'html5player': "{{ asset('bundles/portail/js/jwplayer.html5.js')}}",
                                {% if video.path == null %}

                                'file':  'http://www.youtube.com/v/' + getId("{{ video.url }}") ,
									{% if video.pathImage != null %}
									'image': '{{ asset('bundles/portail/uploads/videos/images/' ~ video.pathImage)}}',
									{% endif %}
                                {% else %}
                                'file': '{{ asset('bundles/portail/uploads/videos/' ~ video.path )}}'  ,
									{% if video.pathImage != null %}
									'image': '{{ asset('bundles/portail/uploads/videos/images/' ~ video.pathImage)}}',
									{% else %}
									'image': 'http://placehold.it/700x700&text={{video.author.username}}',
									{% endif %}
                                {% endif %} 
                                'controlbar': 'bottom',
                                'width': '100%',
                                'height': '360'
                            });
                        </script>
						{% endif %}
					</center>
                    <br>
                    <div style="display:inline-flex">
                        {%  set share = 'share.page'|trans  %}
                        {%  set team = 'team.ltm'|trans  %}
                        {{ socialButtons(
                        {
                        'facebook': { 'send':true, 'showFaces' : false} ,
                        'twitter': { 'message':share,'tag':'ltmEvents','via':team } ,
                        'googleplus': {} } ) }}


                    </div>
                </div>

            </div><!--/welcome-block-->
        </div><!--/row-fluid-->
		{% if (app != null and app.user != null) %}
        {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': video.id} %}
		{% endif %}
        <!-- Recent Works -->
        <div class="headline">
            <h3>{{ 'videos.same.moover'|trans }}</h3>
        </div>
        <div class="row-fluid margin-bottom-40">
            {%  render(controller('PortailBundle:Video:top',{ 'max': 20, 'slug': user.slug, 'style': 'carousel'})) %}
        </div><!--/row-->
        <!-- //End Recent Works -->

        <!-- About Us -->




        <!-- Blockquotes -->

    </div><!--/span9-->
{% endblock %}

{% block content_recommand %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
	 
{% endblock %}


{% block title %}{{ video.title}}{% endblock %}
{% block meta_d%}{{ video.description}} {% endblock %}
{% block meta_k%}{{ ('video-'~video.slug)|replace({'-' : ', ' }) }} {% endblock %}

{% block meta_img %}  	

	<meta content="{{ video.title}}" property="og:title" >
	<meta content="activity" property="og:type">
	<meta content="{{'http://www.likethismoove.com' ~ path('ltm_video_afficher', {'slug' : video.slug, 'id' : video.id| urlencrypt})}}" property="og:url"> 
	<meta content="{{ video.description|truncate(250,true)|nl2br}}"  property="og:description" >  

	<script type="text/javascript" src="/bundles/portail/js/jquery-1.8.2.min.js"></script>
	<script>
	
	
		
    $(document).ready(function(){
  
		function getId(href){
            var id = '';
            if (!!href && href.indexOf('www.youtube.com/v/') > 0) {
                id = getBefore(href.split('www.youtube.com/v/')[1], '?')
            }else if (!!href && href.indexOf('youtu.be/') > 0){
				id = getBefore(href.split('youtu.be/')[1], '?');
			} 
			else if (!!href && href.indexOf('/embed/') > 0){
                id = getBefore(href.split('/embed/')[1], '?');
            } else if (!!href && href.indexOf('?v=') > 0){// this could be version if API call!!
                id = getBefore(href.split('?v=')[1],'&');
            } else if (!!href && href.indexOf('video:') > 0){
                id = getBefore(href.split('video:')[1], ':');
            } else if (!!href){
                id = href;
            }
            return id;
        }
		
		$src = '{{video.url}}'; 
		if (!!$src && $src.indexOf('vimeo.com/') > 0){
			video_id = getBefore($src.split('vimeo.com/')[1], '?');
			$.ajax({
			type:'GET',
			url: 'http://vimeo.com/api/v2/video/' + video_id + '.json',
			jsonp: 'callback',
			dataType: 'jsonp',
			success: function(data){
				var thumbnail_src = data[0].thumbnail_large; 
				link = '<link rel="image_src"  href="' + thumbnail_src >';
				$('head').prepend(link);
			}
		});
		} else { 
			
			$id = getId($src);
	
			link = '<link rel="image_src"  href="' + 'http://img.youtube.com/vi/' + $id + '/0.jpg" >';
			$('head').prepend(link);
			 
		}
			
		});
		</script>
{% endblock %}
