
<div class="posts margin-bottom-20">
    {%  if users|length > 0 %}
        <div class="headline">
            <h3>{{ relationTitle }}</h3>
        </div>
    {%  endif %}
    {% for u in users|slice(0, 5) %}
        <dl class="dl-horizontal">
            <dt><a href="{{ path(tuto? 'ltm_professeur_public' : 'ltm_usr_public', { 'slug': u.slug }) }}">
                    {%  if u.path  != "" %}
                        <img src='/{{  u.getAbsolutePath() }}' />
                    {% endif %}
                </a></dt>
            <dd>
                <p><a href="{{ path(tuto? 'ltm_professeur_public' : 'ltm_usr_public', { 'slug': u.slug }) }}">
                        {% if u.firstName == null and  u.lastName == null %}
                            {{ u.username }}
                        {% else %}
                            {{ u.firstName }} {{ u.lastName }}
                        {% endif %}

                         </a></p>
            </dd>
        </dl>
    {%  endfor %}
</div>
